:root {
  --branding-color: rgb(233, 199, 204);
  --secondary-color: rgb(144, 109, 137);
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  size: 36px;
  text-align: center;
}

h1 {
  font-family: "Playfair Display SC", serif;
  size: 96px;
  text-align: center;
}
.hero p {
  font-family: "Poppins", sans-serif;
  size: 24px;
  text-align: center;
  font-weight: lighter;
}

.hero {
  background-color: var(--branding-color);
  padding: 160px 20px;
}
h2 {
  font-weight: bold;
}

.hero-minor {
  margin: 30px;
}
.contact-btn {
  display: block;
  margin: auto;
  background-color: var(--secondary-color);
  color: white;
  line-height: 27px;
  padding: 15px 30px;
}

#btn-branding-style {
  background-color: white;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 30px;
  }
}
